
.card {
    width: 40%; /* Reduce the width to make it more compact */
    height: 120%;
    margin: 20px auto; /* Center the card horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px hsla(0, 1%, 21%, 0.297);
    background-color: #fff;
    text-align: center;
}
